[submodule "node_modules/feather2-postprocessor-analyse"]
	path = node_modules/feather2-postprocessor-analyse
	url = https://github.com/feather-team/feather2-postprocessor-analyse.git
[submodule "node_modules/feather2-preprocessor-analyse"]
	path = node_modules/feather2-preprocessor-analyse
	url = https://github.com/feather-team/feather2-preprocessor-analyse.git
[submodule "node_modules/feather2-packager-map"]
	path = node_modules/feather2-packager-map
	url = https://github.com/feather-team/feather2-packager-map.git
[submodule "node_modules/feather2-postpackager-runtime"]
	path = node_modules/feather2-postpackager-runtime
	url = https://github.com/feather-team/feather2-postpackager-runtime.git
[submodule "node_modules/feather2-command-init"]
	path = node_modules/feather2-command-init
	url = https://github.com/feather-team/feather2-command-init.git
[submodule "node_modules/feather2-postpackager-cleancss"]
	path = node_modules/feather2-postpackager-cleancss
	url = https://github.com/feather-team/feather2-postpackager-cleancss.git
[submodule "node_modules/feather2-hook-components"]
	path = node_modules/feather2-hook-components
	url = https://github.com/feather-team/feather2-hook-components.git
