[submodule "node_modules/feather2-command-init"]
	path = node_modules/feather2-command-init
	url = https://github.com/feather-team/feather2-command-init.git
[submodule "node_modules/feather2-postprocessor-analyse"]
	path = node_modules/feather2-postprocessor-analyse
	url = https://github.com/feather-team/feather2-postprocessor-analyse.git
[submodule "node_modules/feather2-postpackager-loader"]
	path = node_modules/feather2-postpackager-loader
	url = https://github.com/feather-team/feather2-postpackager-loader.git
[submodule "node_modules/feather2-prepackager-framework"]
	path = node_modules/feather2-prepackager-framework
	url = https://github.com/feather-team/feather2-prepackager-framework.git
[submodule "node_modules/feather2-packager-map"]
	path = node_modules/feather2-packager-map
	url = https://github.com/feather-team/feather2-packager-map.git
[submodule "node_modules/feather2-preprocessor-label-analyse"]
	path = node_modules/feather2-preprocessor-label-analyse
	url = https://github.com/feather-team/feather2-preprocessor-label-analyse.git
